@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Modak&family=Style+Script&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Annie Use Your Telescope';
    max-width: 100%;
}
.main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}
.main::before{
    z-index: -1;
    content: '';
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-image: url('../images/bg.jpg');
    filter: brightness(0.4);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.title{
    font-size: 10vh;
    color: white;
}
.card{
    width: 60vw;
    height: 45vh;
    border-radius: 3vh;
    border: #887F7F 5px solid;
    padding: 5vh;
    background-color: #061a01;
}
.text-title{
    color: white;
    font-size: 4vh;
    margin-top: 4vh;
}
.text{
    color: white;
    font-size: 3vh;
    margin-top: 4vh;
}
.btn{
    cursor: pointer;
    width: 10vw;
    height: 6vh;
    margin-top: 4vh;
    background-color: transparent;
    color: white;
    font-family: 'Annie Use Your Telescope';
    font-size: 3vh;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 1vh;
    transition: .3s;
}
.btn:hover{
    background-color: white;
    color: #061a01;
    transition: .4s;
}